.error {
  animation: horizontal-shaking 0.35s infinite;
  background-color: rgba(255,0,0, 0.1)!important;
  outline: 1px solid crimson;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}