.header {
  width: 100%;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  margin-top: 3.5rem;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header__btn-active{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.6rem;
    width: 26rem;
    height: 6rem;
    background-color: rgba($color: #111515, $alpha: .2);
    border-radius: 0.8rem;
    text-align: center;
    margin-bottom: -1rem;
    position: absolute;
    top: -2rem;
    right: 0;
  display: none;
  }

  &__search-input{
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    width: 80%;
    height: 100%;
    color: var(--color-white);
    background-color: transparent;
    border: none;
    &:focus{
      outline: none;
      border: none;
    }
    &::placeholder{
      font-family: "Roboto", sans-serif;    
      font-weight: 300;
      font-size: 2.4rem;
    }
  }
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: flex-end;
  font-size: 3.2rem;
  padding: 0;
  margin: 0;
  margin-bottom: -3rem;
  margin-left: -10rem;
  li:not(:last-child){
    margin-right: 5.6rem;  
  }
  a {
    color: var(--color-white);
    text-decoration: none;
    &:hover,
    &:focus{
      color: var(--color-primary);
    }
  }
}
