//GROBAL
:root{
	--color-primary:   #a2c11c;
	--color-secondary: #2c5d63;
	--color-grey:      #283739;
	--color-dark:      #111515;
	--color-white:     #e0e0e0;
}

h1,h2,h3,h4{padding: 0; margin: 0;}
ul{padding: 0; margin: 0;}
li{list-style: none;}

html{
	font-size: 62.5%;
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	background-color: var(--color-grey);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: var(--color-white);
	font-size: 1.6rem;
}

// BLOCKS
@import './blocks/error';
@import './blocks/container';
@import './blocks/button';
@import './blocks/header';
@import './blocks/hero';
@import './blocks/main';
@import './blocks/footer';
@import './blocks/anime';
@import './blocks/pagination';
